nav {
    background-color: #daddd4; 

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Times New Roman', serif; 
    font-weight: bold; 
  }
  
  nav ul li a:hover {
    background-color: #555555;
    color: #d7a2c0
}

.bubble-button {
    display: inline-block; 
    padding: 15x 25x; 
    border-radius: 50px; 
    background: linear-gradient(180deg, rgba(0,0,0,0.7), rgba(0,0,0,0.5)); 
    color: #daddd4; 
    font-size: 18px;
    font-weight: bold; 
    text-transform: uppercase; 
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0,0,0,0.1);
}

.bubble-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0,0,0,0.2);
  }

.bubble-textbox {
    background-color: #aad3dd;
    color: #5521cf;
    border-radius: 10px; 
    padding: 1px 10px; 
    display: inline-block; 
    font-size: 14x;
    font-weight: bold; 
    border: 6px solid #d7a2c0; 
    
}
 
h3 {
    color: #d9454c; 
}

h1 {
    color:cornflowerblue

}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav content content"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    min-height: 100vh;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: rgb(171, 207, 213);
    padding: 5px;
}

.nav {
    grid-area: nav;
    background-color: lightblue;
    padding: 10px;
}

.content {
    grid-area: content;
    background-color: lightyellow;
    padding: 10px;
}

.footer {
    grid-area: footer;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #222222;
    color: #ffffff;
}
